@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints

$visual-grid: true;

$mobile: em(480);
$mobile-max: em(639);

$medium-screen: em(640);
$large-screen: em(860);
$xlarge-screen: em(1100);

$mobile-screen: new-breakpoint(max-width $mobile 4);
$mobile-max-screen: new-breakpoint(max-width $mobile-max 4);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$xlarge-sreen-up: new-breakpoint(min-width $xlarge-screen 12);
