// Header Styles

.head_primary {
	position: absolute;
	z-index: 1000;
	width: 100%;
	@include transition(all .1s linear);
	.site_logo {
		float: left;
		display: inline-block;
		padding: 0.8rem 0 0.6em 1.2rem;
		@include media($large-screen) {
			padding: 2.7rem 0 0 2.7rem;
		}

		a {
			display: inline-block;
			clear: both;
			color: $green2;
			@include transition(all .3s ease-in);

			&:hover {
				color: darken($green2, 15%);
			}
		}

		figure {
			float: left;

			img {
				width: 4.5rem;
				display: inline-block;
				vertical-align: middle;

				@include media($medium-screen) {
					width: 8rem;
				}
			}
		}
		
		figcaption {
			float: left;
			display: none;
			@include media($large-screen) {
				display: block;
				padding-top: 2.33rem;

			}

			h4 {
				line-height: 1.2;
				margin: 0;
			}
		}

		.fixed_tagline {
			display: none;
		}

	}

	.head_primary_nav {
		float: right;
		display: inline-block;

		ul {
			padding: 1.75rem 2.1rem 0 0;
			@include media($medium-screen) {
				padding: 4.7rem 2.7rem 0 0;
			}
			
			li {
				
				a {
					font-family: $heading-font-family;
					color: $grey;
					@include transition(all .3s ease-in);

					&:hover {
						color: darken($grey, 15%);
					}
				}

				.donate {

					
				}

				display: inline-block;
				padding-right: 2.5rem;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}

.fixed_header {
	position: fixed;
	background: $white;
	border-bottom: 1px solid $grey;
	.site_logo {
		
		padding: 0.8rem 0 0.6em 1.2rem;
		@include media($medium-screen) {
			padding: 1.2rem 0 0.9em 1.2rem;
		}

		figure {
			img {
				width: 4.5rem;
			}
		}
		
		figcaption {

			@include media($large-screen) {
				padding-top: 0rem;
			}
		}

		.opener_tagline {
			display: none;
		}

		.fixed_tagline {
			display: none;
			@include media($medium-screen) {
				display: block;
			}

			h3 {
				margin: 0;
				line-height: 1;
			}

			h4 {
				font-size: 1.4rem;
			}
		}
	}

	.head_primary_nav {

		ul {
			padding: 1.75rem 2.1rem 0 0;
			@include media($medium-screen) {
				padding: 2.1rem 2.1rem 0 0;
			}
		}
	}
	
}



// Overlay Navigation

.overlay_nav {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: $green2-alpha;
	z-index: 5000;
	@include transform(translateY(-100%));
	@include transition(all .3s ease-in);
	.main_navigation {
		text-align: center;
		position: relative;
		width: 100%;
		height: 100%;

		ul {
			text-align: center;
			display: inline-block;
			@include vertical-center;

			a {
				@include nav-type;

				&:hover {
					color: darken($white, 15%);
				}
			}
		}
			
	}
	.close_button_wrap {
		position: absolute;
		display: block;
		top: 4.1rem;
		right: 2.7rem;
		z-index: 1;
	}
}

.overlay_active {
	@include transform(translateY(0));
}