// Section Page Styles

.section_header {
	min-height: 40%;
	height: 40%;
	text-align: center;
	position: relative;

	.section_title {
		@extend %vertical-center;
		z-index: 1000;
		img {
			width: 60%;
			@include filter(drop-shadow(6px 6px 8px rgba(0,0,0,0.35)));
			@include media($medium-screen) {
				width: 75%;
			}
		}
	}
}



.spotlight_story_outer_wrap {
	width: 100%;
	z-index: 2;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		padding-bottom: 14.1%;
		display: block;
		background-image: url('../../img/section-cloud-before.svg');
		background-repeat: no-repeat;
		background-size: 103%;
		background-position: center;
	}
	
	&:after {
		content: "";
		width: 100%;
		height: 100%;
		padding-bottom: 14%;
		display: block;
		background-image: url('../../img/section-cloud-after.svg');
		background-repeat: no-repeat;
		background-size: 103%;
		background-position: center;
	}

	.spotlight_story_wrap {
		background: $orange2;
	}

}

.spotlight_story {
	@include outer-container;
		.story {
			color: $white;
			@include span-columns(12);
			padding: 0 5%;
			@include media($large-screen) {
				@include shift(1);
				@include span-columns(6);
				padding: 0;
			}
		}

		.spotlight_aside {
			@include span-columns(12);
			padding: 0 5%;
			margin-top: 4em;
			@include media($large-screen) {
				@include span-columns(4);
				padding: 0;
				margin-top: 0;
			}
			
			.photo_gallery_wrap {
				position: relative;
				@include media($large-screen) {
					padding-top: 7.5rem;
				}
				.photo_gallery {
					width: 90%;
					height: 90%;
					overflow: hidden;
					margin: 0 auto;
					z-index: 10;
					position: relative;
					@include media($medium-screen) {
						width: 60%;
						height: 60%;
					}
					@include media($large-screen) {
						float: right;
						width: 80%;
						height: 80%;
					}
					img {
						border: 15px solid $white;
						border-radius: 50%;
					}
				}

				figcaption {
					width: 11.1rem;
					height: 11.1rem;
					border-radius: 5.55rem;
					margin-top: -16%;
  					margin-left: 0%;
  					margin-bottom: 5em;
					background: $white;
					position: relative;
					text-align: center;
					@include media($medium-screen) {
						margin-top: -12%;
  						margin-left: 15%;
					}
					@include media($large-screen) {
						margin-top: 57%;
						margin-left: 0;
						margin-bottom: 0;
					}

					h4 {
						@include vertical-center;
						position: absolute;
						width: 100%;
						margin: 0;
					}
				}
			}

		}
}

.stats_wrapper {
	height: 4000px;
	margin-top: -15%;
	padding-bottom: 15%;
	@include outer-container;
	background-image: url('../../img/vertical-bubble-bg.svg');
	background-repeat: repeat-y;
	background-size: contain;
	position: relative;
	z-index: -1;
	
	.stats_headline_container {
		@include fill-parent;
		@include clearfix;
		.stats_headline {
			background-repeat: no-repeat;
			background-size: 120%;
			background-position: center;
			position: relative;
			
			@include media($medium-screen) {
				@include outer-container;
				background-image: url('../../img/stats-headline-cloud.svg');
				background-size: 115%;
				padding-bottom: 67%;
				margin-top: 10%;
			}

			@include media($large-screen) {
				@include span-columns(10);
				background-size: 100%;
				padding-bottom: 49%;
				margin-top: 10%;
			}

			@include media($xlarge-screen) {
				@include span-columns(8);
				padding-bottom: 39%;
				margin-top: 15%;
			}
	
			.stats_headline_inner {
				width: 80%;
				padding: 0 0 0 26%;
				@include vertical-center;
				position: absolute;
				
				h4 {
					margin: 0;
				}
	
				h2 {
					margin-top: 0;
				}
			}
	
		}
	}


	.stat_container {
		@include fill-parent;
		@include clearfix;
		
		@include media($medium-screen) {
			margin: 3% auto;
		}

		@include media($large-screen) {
			margin: 0 auto;
		}

		.stat_right {
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			position: relative;
			
			@include media($medium-screen) {
				@include outer-container;
				margin: 0 6%;
				background-image: url('../../img/stat-cloud.svg');
				padding-bottom: 53.5%;
			}

			@include media($large-screen) {
				@include shift(4);
				@include span-columns(8);
				padding-bottom: 40.5%;
			}

			@include media($xlarge-screen) {
				@include shift(5);
				@include span-columns(7);
				padding-bottom: 34.5%;
			}
		}

		.stat_left {
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: center;
			position: relative;
			
			@include media($medium-screen) {
				@include outer-container;
				margin: 0 6%;
				background-image: url('../../img/stat-cloud.svg');
				padding-bottom: 53.5%;
			}

			@include media($large-screen) {
				@include span-columns(8);
				padding-bottom: 40.5%;
			}
			@include media($xlarge-screen) {
				@include span-columns(7);
				padding-bottom: 34.5%;
			}
		}
	}

	.stat_inner {
		@include vertical-center;
		position: absolute;
		padding: 0 20%;

		p {
			margin: 0;
		}
	}


}


	