// Section Page Styles

.spotlight_story_outer_wrap {
	width: 100%;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		padding-bottom: 14.1%;
		display: block;
		background-image: url('../../img/section-cloud-before.svg');
		background-repeat: no-repeat;
		background-size: 103%;
		background-position: center;
	}
	
	&:after {
		content: "";
		width: 100%;
		height: 100%;
		padding-bottom: 14%;
		display: block;
		background-image: url('../../img/section-cloud-after.svg');
		background-repeat: no-repeat;
		background-size: 103%;
		background-position: center;
	}

	.spotlight_story_wrap {
		background: $orange2;
	}

}

.spotlight_story {
	@include outer-container;
		.story {
			color: $white;
			@include span-columns(12);
			padding: 0 5%;
			@include media($large-screen) {
				@include shift(1);
				@include span-columns(6);
				padding: 0;
			}
		}

		.spotlight_aside {
			@include span-columns(12);
			padding: 0 5%;
			@include media($large-screen) {
				@include span-columns(4);
				padding: 0;
			}
			
			.photo_gallery_wrap {
				position: relative;
				@include media($large-screen) {
					padding-top: 7.5rem;
				}
				.photo_gallery {
					width: 60%;
					height: 60%;
					overflow: hidden;
					margin: 0 auto;
					z-index: 10;
					position: relative;
					@include media($large-screen) {
						float: right;
						width: 80%;
						height: 80%;
					}
					img {
						border: 15px solid $white;
						border-radius: 50%;
					}
				}

				figcaption {
					width: 11.1rem;
					height: 11.1rem;
					border-radius: 5.55rem;
					background: $white;
					position: relative;
					text-align: center;
					@include media($large-screen) {
						margin-top: 57%;
					}

					h4 {
						@include vertical-center;
						position: absolute;
						width: 100%;
						margin: 0;
					}
				}
			}

		}
}


	