// Homepage Styles

body {
	background-image: url(../../img/bg-pattern.png);
	background-color: $bg-color;
}

.wrap {
	@include clearfix;
}

.opener {
	height: 100vh;
	text-align: center;
	position: relative;
	.opener_title {
		@extend %vertical-center;
		z-index: 50;
		img {
			width: 90%;
			@include filter(drop-shadow(6px 6px 8px rgba(0,0,0,0.35)));
			@include media($medium-screen) {
				width: 75%;
			}
		}

		h1 {
			@include visuallyhidden;
		}
	}
	
	#particles {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.opener_cloud_right {
		position: absolute;
		bottom: 0;
		@include transform(translate(80%, 43%));
		width: 70%;
		z-index: 10;
		img {
			@include filter(drop-shadow(7px 7px 5px rgba(0,0,0,0.25)));
			width: 100%;
			height: 100%;
		}
	}

	.opener_cloud_left {
		position: absolute;
		bottom: 0;
		@include transform(translate(-20%, 60%));
		width: 100%;
		z-index: 20;
		img {
			@include filter(drop-shadow(9px 9px 12px rgba(0,0,0,0.25)));
			width: 100%;
			height: 100%;
		}
	}
}

.areas_of_focus {
	width: 100%;
	padding: 40% 0 0 0;
	background-image: url('../../img/vertical-bubble-bg.svg');
	background-repeat: repeat-y;
	background-size: contain;
	@include media($medium-screen) {
		padding: 40% 5% 15% 5%;
		@include outer-container;
	}

	.youth_development {
		text-align: center;
		position: relative;
		@include clearfix;
		margin-bottom: 6%;

		@include media($large-screen) {
			text-align: left;
		}

		.figure_wrap {
			width: 65%;
			z-index: 10;
			margin: 0 auto;
			position: relative;
			
			@include media($large-screen) {
				width: 40%;
				position: absolute;
			}

			figure {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				padding-bottom: 100%;
				border: 10px solid $orange2;
				box-shadow: 3px 6px 0px 4px $orange3;
				background: url('../../img/youth-development.jpg');
				background-repeat: no-repeat;
				background-size: 110%;
				background-position: center;
				margin: 0 auto;
				
				@include media($large-screen) {
					border: 16px solid $orange2;
					box-shadow: 3px 10px 0px 4px $orange3;
				}
			}
		}

		.focus_area_desc {
			position: relative;
			
			@include media($mobile-max-screen) {
				margin-top: -10%;
			
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					padding-bottom: 13.85%;
					display: block;
					background-image: url('../../img/areas-of-focus-cloud-mobile-before.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}

				&:after {
					content: "";
					width: 100%;
					height: 100%;
					padding-bottom: 12.65%;
					display: block;
					background-image: url('../../img/areas-of-focus-cloud-mobile-after.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}
			}

			@include media($medium-screen) {
				padding-bottom: 72%;
				background-image: url('../../img/areas-of-focus-cloud.svg');
				background-repeat: no-repeat;
				background-size: 100%;
				margin-top: -10%;
			}

			@include media($large-screen) {
				@include shift(3);
				@include span-columns(9 of 12);
				background-image: url('../../img/areas-of-focus-cloud-desktop.svg');
				padding-bottom: 70%;
				margin-top: 0;
				
			}

			@include media($xlarge-screen) {
				background-image: url('../../img/areas-of-focus-cloud.svg');
				padding-bottom: 54%;	
			}

			.excerpt {
				
				@include media($mobile-max-screen) {
					background: $white;
					padding: $small-spacing 5% 8% 5%;
				}

				@include media($medium-screen) {
					@include vertical-center;
					position: absolute;
					padding: 0 12% 0% 12%;
				}

				@include media($large-screen) {
					padding: 0 15% 0 23%;
				}

				h2 {
					margin: 0 0 $small-spacing 0;
					@include media($xlarge-screen) {
						margin: $h2-margin-top 0 $small-spacing 0;
					}
				}

			}
		}
	}

	.healthy_living {
		text-align: center;
		position: relative;
		@include clearfix;
		margin-bottom: 6%;
		@include media($large-screen) {
			text-align: left;
		}

		.figure_wrap {
			width: 65%;
			margin: 0 auto;
			z-index: 10;
			position: relative;

			@include  media($large-screen) {
				width: 40%;
				right: 0;
				position: absolute;
			}

			figure {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				padding-bottom: 100%;
				border: 10px solid $orange1;
				box-shadow: 3px 6px 0px 4px darken($orange1, 25%);
				background: url('../../img/healthy-living.jpg');
				background-repeat: no-repeat;
				background-size: 110%;
				background-position: center;
				margin: 0 auto;
				
				@include media($large-screen) {
					border: 16px solid $orange1;
					box-shadow: 3px 10px 0px 4px darken($orange1, 25%);
				}
			}
		}

		.focus_area_desc {
			position: relative;
			
			@include media($mobile-max-screen) {
				margin-top: -10%;
			
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					padding-bottom: 13.85%;
					display: block;
					background-image: url('../../img/areas-of-focus-cloud-mobile-before.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}

				&:after {
					content: "";
					width: 100%;
					height: 100%;
					padding-bottom: 12.65%;
					display: block;
					background-image: url('../../img/areas-of-focus-cloud-mobile-after.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}
			}

			@include media($medium-screen) {
				padding-bottom: 72%;
				background-image: url('../../img/areas-of-focus-cloud.svg');
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center;
				margin-top: -10%;
			}

			@include media($large-screen) {
				@include span-columns(9 of 12);
				margin-top: 0;
				background-image: url('../../img/areas-of-focus-cloud-desktop.svg');
				padding-bottom: 70%;
			}

			@include media($xlarge-screen) {
				background-image: url('../../img/areas-of-focus-cloud.svg');
				padding-bottom: 54%;	
			}

			.excerpt {
				
				@include media($mobile-max-screen) {
					background: $white;
					padding: $small-spacing 5% 8% 5%;
				}

				@include media($medium-screen) {
					@include vertical-center;
					position: absolute;
					padding: 0 12% 0% 12%;
				}

				@include media($large-screen) {
					padding: 0 23% 0% 12%;
				}

				h2 {
					margin: 0 0 $small-spacing 0;
					@include media($xlarge-screen) {
						margin: $h2-margin-top 0 $small-spacing 0;
					}
				}

			}
		}
	}

	.social_responsibility {
		text-align: center;
		position: relative;
		@include clearfix;
		margin-bottom: 6%;
		@include media($large-screen) {
			text-align: left;
		}

		.figure_wrap {
			width: 65%;
			z-index: 10;
			margin: 0 auto;
			position: relative;
			
			@include media($large-screen) {
				width: 40%;
				position: absolute;
			}

			figure {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				padding-bottom: 100%;
				border: 10px solid $purple3;
				box-shadow: 3px 6px 0px 4px darken($purple3, 20%);
				background: url('../../img/youth-development.jpg');
				background-repeat: no-repeat;
				background-size: 110%;
				background-position: center;
				margin: 0 auto;
				
				@include media($large-screen) {
					border: 16px solid $purple3;
					box-shadow: 3px 10px 0px 4px darken($purple3, 20%);
				}
			}
		}

		.focus_area_desc {
			position: relative;
			
			@include media($mobile-max-screen) {
				margin-top: -10%;
			
				&:before {
					content: "";
					width: 100%;
					height: 100%;
					padding-bottom: 13.85%;
					display: block;
					background-image: url('../../img/areas-of-focus-cloud-mobile-before.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}

				&:after {
					content: "";
					width: 100%;
					height: 100%;
					padding-bottom: 12.65%;
					display: block;
					background-image: url('../../img/areas-of-focus-cloud-mobile-after.svg');
					background-repeat: no-repeat;
					background-size: 100%;
					background-position: center;
				}
			}

			@include media($medium-screen) {
				padding-bottom: 72%;
				background-image: url('../../img/areas-of-focus-cloud.svg');
				background-repeat: no-repeat;
				background-size: 100%;
				margin-top: -10%;
			}

			@include media($large-screen) {
				@include shift(3);
				@include span-columns(9 of 12);
				background-image: url('../../img/areas-of-focus-cloud-desktop.svg');
				padding-bottom: 70%;
				margin-top: 0;
				
			}

			@include media($xlarge-screen) {
				background-image: url('../../img/areas-of-focus-cloud.svg');
				padding-bottom: 54%;	
			}

			.excerpt {
				
				@include media($mobile-max-screen) {
					background: $white;
					padding: $small-spacing 5% 8% 5%;
				}

				@include media($medium-screen) {
					@include vertical-center;
					position: absolute;
					padding: 0 12% 0% 12%;
				}

				@include media($large-screen) {
					padding: 0 15% 0 23%;
				}

				h2 {
					margin: 0 0 $small-spacing 0;
					@include media($xlarge-screen) {
						margin: $h2-margin-top 0 $small-spacing 0;
					}
				}

			}
		}
	}
}
