// Healthy Living Page Specific Styles

.healthy_living {
	
	.section_header .section_title img {	
		width: 70%;
		@include filter(drop-shadow(6px 6px 8px rgba(0,0,0,0.35)));
		@include media($medium-screen) {
			width: 40%;
		}	
	}

	.spotlight_story_outer_wrap {

		&:before {
			background-image: url('../../img/section-healthy-living-cloud-before.svg');
		}
		&:after{
			background-image: url('../../img/section-healthy-living-cloud-after.svg');
		}
		.spotlight_story_wrap {
			background: $orange1;
		}
	}

	.footer {
		&:before {
			background-image: url('../../img/healthy-living-footer-cloud.svg');
		}

		.footer_info {
			background: $orange1;
		}
	}
}