// Utility Styles/Mixins

// Additional Resets
html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}
body {
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
* {
   	@include box-sizing(border-box);

   	&:before,
   	&:after {
   		@include box-sizing(border-box);
   	}
}

// Clears & Floats
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.clearfix {
	&:after {
		clear: both;
		display: table;
		content: '';
	}
}


// Load Fonts

// Cachet Bold
@include font-face("cachet-bold", "../../fonts/cachet-bold");

// Easy Remove for mobile
/*
.nomobile {
	// Need to re-write for neat
	@include breakpoint(mobile) {
		display: none;
	}
}
*/