// Typography

html{
	font-size: 16px;
}

$base-font-family: Verdana,Geneva,sans-serif;
$heading-font-family: "cachet-bold";

// Font Sizes - Typographic Scale: Golden Section

$base-font-size-mobile: 1rem;
$base-font-size: 1.125rem;
$base-line-height: 1.6875rem;
$heading-line-height: 1.2;
$small-text: 1rem;

// H1 
$h1: 4.75rem;
$h1-line: 1.6875rem;
$h1-lines: 3;
$h1-line-height: $h1-line * $h1-lines;
$h1-margin-top: 2 * $h1-line;
$h1-margin-bottom: 1 * $h1-line;

// H2
$h2: 2.9375rem;
$h2-line: 1.6875rem;
$h2-lines: 2;
$h2-line-height: $h2-line * $h2-lines;
$h2-margin-top: 2 * $h2-line;
$h2-margin-bottom: 1 * $h2-line;

// H3
$h3: 1.8125rem;
$h3-line: 1.6875rem;
$h3-lines: 2;
$h3-line-height: $h3-line * $h3-lines;
$h3-margin-top: 1 * $h3-line;
$h3-margin-bottom: 1 * $h3-line;

// H4
$h4: $base-font-size;
$h4-line: $base-line-height;
$h4-lines: 1;
$h4-line-height: $h4-line * $h4-lines;
$h4-margin-top: 1 * $h4-line;
$h4-margin-bottom: 1 * $h4-line;



// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;
$bg-color: #fafafa;

//YMCA Brand Colors
$black: #000000;
$grey: #626366;

// Group 1: Greens
$green3: #156a69;
$green2: #26a995;
$green1: #3cbcbb;

// Group 2: Blues
$blue3: #1664aa;
$blue2: #218bca;
$blue1: #2bafe9;

// Group 3: Purples
$purple3: #5b358d;
$purple2: #8f318b;
$purple1: #c1288a;

// Group 4: Reds
$red3: #a42e37;
$red2: #e72534;
$red1: #ec5c37;

// Group 5: Oranges
$orange3: #d95a38;
$orange2: #f0793b;
$orange1: #f7ad40;

// Font Colors
$base-background-color: $bg-color;
$base-font-color: $grey;
$action-color: $purple1;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
