// Typography
$base-font-family: $helvetica;
$heading-font-family: "cachet-bold";

// Font Sizes - Typographic Scale: Golden Section

$base-font-size: 1.125em;
$h1: 4.222222222em;
$h2: 2.611111111em;
$h3: 1.611111111em;
$h4: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$background-color: #fafafa;

//YMCA Brand Colors
$black: #000000;
$grey: #626366;

// Group 1: Greens
$green3: #156a69;
$green2: #26a995;
$green1: #3cbcbb;

// Group 2: Blues
$blue3: #1664aa;
$blue2: #218bca;
$blue1: #2bafe9;

// Group 3: Purples
$purple3: #5b358d;
$purple2: #8f318b;
$purple1: #c1288a;

// Group 4: Reds
$red3: #a42e37;
$red2: #e72534;
$red1: #ec5c37;

// Group 5: Oranges
$orange3: #d95a38;
$orange2: #f0793b;
$orange1: #f7ad40;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
